/* Cabecera Secundaria */

#cabecera-secundaria{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

#crear-propuesta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #7cd3e9;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

#crear-propuesta::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../icon-regular/square-plus.svg");
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

#crear-propuesta:hover{
    background-color: #69b5c9;
}

#eliminar-propuesta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #e97c7c;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

#eliminar-propuesta::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../icon-regular/square-minus.svg");
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

#eliminar-propuesta:hover{
    background-color: #da3f3f;
}

.popups{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #7c7c7ca4;

    display: none;
    justify-content: center;
    align-items: flex-start;
}

.popups form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 15px;
    box-shadow: 1px 1px 3px #7a7a7a;
    margin-top: 25px;
}

.campos{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

[type="text"], [type="number"], [type="file"], textarea{
    padding: 5px;
    background-color: inherit;
    border: none;
    border: 1px solid #a3a3a3;
    outline: none;
    margin: 5px;
}

[type="submit"]{
    padding: 10px;
    border: none;
    margin-top: 10px;
    background-color: #69b5c9;
    cursor: pointer;
}

#cerrar-popups{
    padding: 10px;
    border: none;
    margin-top: 10px;
    background-color: #c96969;
    cursor: pointer;
}

.titulo-form{
    padding: 10px;
}

.content-listas{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

#lista-propuestas{
    display: flex;
    flex-flow: column nowrap;
}

.titulo-lista{
    align-self: center;
    padding: 10px;
}

.lista{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.caja-propuesta{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #7a7a7a;
    margin: 5px;
    flex-grow: 1;
    min-width: 280px;
    max-width: 300px;
}

button{
    margin: 5px 1px;
}

button img{
    width: 25px;
    height: 25px;
    display: flex;
}