/* Cabecera Secundaria */

#cabecera-secundaria{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

#crear-propuesta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #7cd3e9;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

#crear-propuesta::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../icon-regular/square-plus.svg");
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

#crear-propuesta:hover{
    background-color: #69b5c9;
}

#eliminar-propuesta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #e97c7c;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

#eliminar-propuesta::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../icon-regular/square-minus.svg");
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

#eliminar-propuesta:hover{
    background-color: #da3f3f;
}

/* Caja de Propuesta */

#lista-propuestas, #lista-propuestas-seleccionadas{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lista{
    align-self: stretch;
    display: flex;
    flex-flow: row wrap;
}

.caja-propuesta{
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 1px 3px #a3a3a3;
    position: relative;
}

.titulo-propuesta{
    text-align: center;
}

.botones-propuesta{
    display: flex;
    padding: 5px;
    margin: 5px;
    position: absolute;
    bottom: -30px;
    right: 0px;
}

#positivo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 25px;
    background-color: #82e27f;
    margin: 3px;
    cursor: pointer;
}

#negativo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 25px;
    background-color: #e07b7b;
    margin: 3px;
    cursor: pointer;
}