/* Tabla de condominio */

#tabla-apartamentos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#tabla-apartamentos > table th, td, caption{
    padding: 5px;
}

#tabla-apartamentos > table{
    text-align: center;
    border-collapse: collapse;
}

#tabla-apartamentos > table > thead{
    color: #f5f5f5;
    background-color: #383838;
}

#tabla-apartamentos > table thead th:nth-child(15){
    background-color: #b90000;
}

#tabla-apartamentos > table tbody tr:nth-child(odd){
    background-color: #e4e4e4;
}

#cabecera-secundaria{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 35px;
}

#seleccion-anio{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-indicadores{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.indicador{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 2px #7c7c7c;
    margin: 10px;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

.Iusuarios span::before{
    display: flex;
    align-items: center;
    justify-self: center;
    content: url("../icon-regular/user.svg");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(29%) sepia(0%) saturate(253%) hue-rotate(197deg) brightness(93%) contrast(77%);
}

.Iapartamentos span::before{
    display: flex;
    align-items: center;
    justify-self: center;
    content: url("../icon-regular/building.svg");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(29%) sepia(0%) saturate(253%) hue-rotate(197deg) brightness(93%) contrast(77%);
}

.Ifondos span::before{
    display: flex;
    align-items: center;
    justify-self: center;
    content: url("../icon-regular/sack-dollar.svg");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(29%) sepia(0%) saturate(253%) hue-rotate(197deg) brightness(93%) contrast(77%);
}

#anio{
    padding: 5px;
    background-color: inherit;
    border: none;
    background-color: #a3ce9f;
}

#buscar{
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}