.articulos{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}

#contenido h3{
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: center;
    background-image: linear-gradient(to right, #f1f1f1,#e5e8fd, #f1f1f1);
}

article{
    margin: 5px;
}

article > a{
    text-decoration: none;
    color: var(--color-texto);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 10px;
    box-shadow: 1px 1px 3px #cacaca;
    border-radius: 5px;
}

article > img {
    width: 150px;
    height: 150px;
}

@media (max-width: 590px) {
    .articulos{
        flex-flow: column;
    }
}