#contenido{
    position: relative;
}

.fichas-usuarios{
    display: flex;
    flex-flow: row wrap;
}

.ficha-usuario{
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #f3f3f3;
    border-radius: 15px;
}

.imagen-usuario{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px #929292;
    padding: 5px;
    border-radius: 7px;
    margin: 5px;
}

.datos-usuario{
    padding: 5px;
    border-radius: 7px;
    margin: 5px;
    box-shadow: 1px 1px 3px #cecece;
}

.botones-usuario{
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px #cecece;
}

.boton-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #cecece;
    padding: 3px;
    border-radius: 3px;
}

abbr{
    position: relative;
    width: 100%;
    height: 100%;
}

.boton-usuario:hover img{
    filter: invert(43%) sepia(33%) saturate(5716%) hue-rotate(167deg) brightness(104%) contrast(101%);
}

.boton-usuario img{
    filter: invert(34%) sepia(1%) saturate(1474%) hue-rotate(346deg) brightness(95%) contrast(84%);    
}

.rojo{
    color: #ff0000;
}

.verde{
    color: #008000
}

/* #### Popups #### */

.popups{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #7c7c7ca4;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#correo{
    background-color: #f3f3f3;
    padding: 10px;
    margin: auto;
}